<div class="center jumbotron text-center">

  <%if logged_in? %>
    <h1>Bienvenue <%= current_user.first_name%> !</h1>
    <%= link_to "Le Grand SECRET !", secret_path, class: "btn btn-lg btn-primary" %>
  <%else%>
    <h1>Bienvenue !</h1>
    <h3>
      Ici, tu peux retrouver le grand SECRET des moussaillons !
    </h3>
    <br>
    <%= link_to "Enregistre-toi !", new_user_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Connecte-toi !", login_path, class: "btn btn-lg btn-link" %>
  <%end%>

</div>
